<% var data = {
title: "Home | Somnowell",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Main Content -->
<div id="content">

    <!-- Topbar -->
    <%= _.template(require('./../includes/topbar.html').default)(data) %>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-4">Buttons</h1>

	<div class="row">
	    <div class="col-lg-5">

		<div class="card mb-4">
		    <div class="card-header py-3">
			<h6 class="m-0">Buttons</h6>
		    </div>
		    <div class="card-body">
			<div class="form-row">
			    <div class="col-sm-3">
				<button type="button" class="btn btn-block btn-primary btn-sm">Primary</button>
				<button type="button" class="btn btn-block btn-secondary btn-sm">Secondary</button>
				<button type="button" class="btn btn-block btn-success btn-sm">Success</button>
				<button type="button" class="btn btn-block btn-danger btn-sm">Danger</button>
				<button type="button" class="btn btn-block btn-warning btn-sm">Warning</button>
				<button type="button" class="btn btn-block btn-info btn-sm">Info</button>
				<button type="button" class="btn btn-block btn-light btn-sm">Light</button>
				<button type="button" class="btn btn-block btn-dark btn-sm">Dark</button>

				<button type="button" class="btn btn-block btn-link btn-sm">Link</button>
			    </div>
			    <div class="col-sm-3">
				<button type="button" class="btn btn-block btn-primary">PRIMARY</button>
				<button type="button" class="btn btn-block btn-secondary">SECONDARY</button>
				<button type="button" class="btn btn-block btn-success">Success</button>
				<button type="button" class="btn btn-block btn-danger">Danger</button>
				<button type="button" class="btn btn-block btn-warning">Warning</button>
				<button type="button" class="btn btn-block btn-info">Info</button>
				<button type="button" class="btn btn-block btn-light">Light</button>
				<button type="button" class="btn btn-block btn-dark">Dark</button>

				<button type="button" class="btn btn-block btn-link">Link</button>
			    </div>
			    <div class="col-sm-3">
				<button type="button" class="btn btn-block btn-outline-primary">PRIMARY</button>
				<button type="button" class="btn btn-block btn-outline-secondary">SECONDARY</button>
				<button type="button" class="btn btn-block btn-outline-success">Success</button>
				<button type="button" class="btn btn-block btn-outline-danger">Danger</button>
				<button type="button" class="btn btn-block btn-outline-warning">Warning</button>
				<button type="button" class="btn btn-block btn-outline-info">Info</button>
				<button type="button" class="btn btn-block btn-outline-light">Light</button>
				<button type="button" class="btn btn-block btn-outline-dark">Dark</button>

				<button type="button" class="btn btn-block btn-link">Link</button>
			    </div>
			    <div class="col-sm-3">
				<button type="button" class="btn btn-block btn-primary btn-lg">Large button</button>
				<button type="button" class="btn btn-block btn-secondary btn-lg">Large button</button>
				<button type="button" class="btn btn-block btn-warning btn-lg">Large button</button>
			    </div>
			</div>
		    </div>
		</div>
		<div class="card mb-5">
		    <div class="card-header py-3">
			<h6 class="m-0">Badges</h6>
		    </div>
		    <div class="card-body">
			<div class="form-row">
			    <div class="col-sm-4">
				<span class="w-100 mb-2 badge badge-primary">Primary</span>
				<span class="w-100 mb-2 badge badge-secondary">Secondary</span>
				<span class="w-100 mb-2 badge badge-success">Success</span>
				<span class="w-100 mb-2 badge badge-danger">Danger</span>
				<span class="w-100 mb-2 badge badge-warning">Warning</span>
				<span class="w-100 mb-2 badge badge-info">Info</span>
				<span class="w-100 mb-2 badge badge-light">Light</span>
				<span class="w-100 mb-2 badge badge-dark">Dark</span>
			    </div>
			    <div class="col-sm-4">
				<span class="w-100 mb-2 badge badge-outline-primary">Primary</span>
				<span class="w-100 mb-2 badge badge-outline-secondary">Secondary</span>
				<span class="w-100 mb-2 badge badge-outline-success">Success</span>
				<span class="w-100 mb-2 badge badge-outline-danger">Danger</span>
				<span class="w-100 mb-2 badge badge-outline-warning">Warning</span>
				<span class="w-100 mb-2 badge badge-outline-info">Info</span>
				<span class="w-100 mb-2 badge badge-outline-light">Light</span>
				<span class="w-100 mb-2 badge badge-outline-dark">Dark</span>
			    </div>
			    <div class="col-sm-4">

			    </div>
			    <div class="col-sm-4">

			    </div>
			</div>
		    </div>
		</div>

            </div>
	    <div class="col-lg-3">

		<div class="card mb-4">
		    <div class="card-header py-3">
			<h6 class="m-0">Split Buttons with Icon</h6>
		    </div>
		    <div class="card-body">
			<p>Works with any button colors, just use the <code>.btn-icon-split</code> class and the markup in the examples below. The examples below also use the <code>.text-white-50</code> helper class on the icons for additional styling, but it is not required.</p>
			<a href="#" class="btn btn-primary btn-icon-split">
			    <span class="icon text-white-50">
				<i class="fas fa-flag"></i>
			    </span>
			    <span class="text">Split Button Primary</span>
			</a>
			<div class="my-2"></div>
			<a href="#" class="btn btn-success btn-icon-split">
			    <span class="icon text-white-50">
				<i class="fas fa-check"></i>
			    </span>
			    <span class="text">Split Button Success</span>
			</a>
			<div class="my-2"></div>
			<a href="#" class="btn btn-info btn-icon-split">
			    <span class="icon text-white-50">
				<i class="fas fa-info-circle"></i>
			    </span>
			    <span class="text">Split Button Info</span>
			</a>
			<div class="my-2"></div>
			<a href="#" class="btn btn-warning btn-icon-split">
			    <span class="icon text-white-50">
				<i class="fas fa-exclamation-triangle"></i>
			    </span>
			    <span class="text">Split Button Warning</span>
			</a>
			<div class="my-2"></div>
			<a href="#" class="btn btn-danger btn-icon-split">
			    <span class="icon text-white-50">
				<i class="fas fa-trash"></i>
			    </span>
			    <span class="text">Split Button Danger</span>
			</a>
			<div class="my-2"></div>
			<a href="#" class="btn btn-secondary btn-icon-split">
			    <span class="icon text-white-50">
				<i class="fas fa-arrow-right"></i>
			    </span>
			    <span class="text">Split Button Secondary</span>
			</a>
			<div class="my-2"></div>
			<a href="#" class="btn btn-light btn-icon-split">
			    <span class="icon text-gray-600">
				<i class="fas fa-arrow-right"></i>
			    </span>
			    <span class="text">Split Button Light</span>
			</a>
			<div class="mb-4"></div>
			<p>Also works with small and large button classes!</p>
			<a href="#" class="btn btn-primary btn-icon-split btn-sm">
			    <span class="icon text-white-50">
				<i class="fas fa-flag"></i>
			    </span>
			    <span class="text">Split Button Small</span>
			</a>
			<div class="my-2"></div>
			<a href="#" class="btn btn-primary btn-icon-split btn-lg">
			    <span class="icon text-white-50">
				<i class="fas fa-flag"></i>
			    </span>
			    <span class="text">Split Button Large</span>
			</a>
		    </div>
		</div>

            </div>

            <div class="col-lg-4">

		<!-- Circle Buttons -->
		<div class="card mb-4">
		    <div class="card-header py-3">
			<h6 class="m-0">Circle Buttons</h6>
		    </div>
		    <div class="card-body">
			<p>Use Font Awesome Icons (included with this theme package) along with the circle buttons as shown in the examples below!</p>
			<!-- Circle Buttons (Default) -->
			<div class="mb-2">
			    <code>.btn-circle</code>
			</div>
			<a href="#" class="btn btn-primary btn-circle">
			    <i class="fab fa-facebook-f"></i>
			</a>
			<a href="#" class="btn btn-success btn-circle">
			    <i class="fas fa-check"></i>
			</a>
			<a href="#" class="btn btn-info btn-circle">
			    <i class="fas fa-info-circle"></i>
			</a>
			<a href="#" class="btn btn-warning btn-circle">
			    <i class="fas fa-exclamation-triangle"></i>
			</a>
			<a href="#" class="btn btn-danger btn-circle">
			    <i class="fas fa-trash"></i>
			</a>
			<!-- Circle Buttons (Small) -->
			<div class="mt-4 mb-2">
			    <code>.btn-circle .btn-sm</code>
			</div>
			<a href="#" class="btn btn-primary btn-circle btn-sm">
			    <i class="fab fa-facebook-f"></i>
			</a>
			<a href="#" class="btn btn-success btn-circle btn-sm">
			    <i class="fas fa-check"></i>
			</a>
			<a href="#" class="btn btn-info btn-circle btn-sm">
			    <i class="fas fa-info-circle"></i>
			</a>
			<a href="#" class="btn btn-warning btn-circle btn-sm">
			    <i class="fas fa-exclamation-triangle"></i>
			</a>
			<a href="#" class="btn btn-danger btn-circle btn-sm">
			    <i class="fas fa-trash"></i>
			</a>
			<!-- Circle Buttons (Large) -->
			<div class="mt-4 mb-2">
			    <code>.btn-circle .btn-lg</code>
			</div>
			<a href="#" class="btn btn-primary btn-circle btn-lg">
			    <i class="fab fa-facebook-f"></i>
			</a>
			<a href="#" class="btn btn-success btn-circle btn-lg">
			    <i class="fas fa-check"></i>
			</a>
			<a href="#" class="btn btn-info btn-circle btn-lg">
			    <i class="fas fa-info-circle"></i>
			</a>
			<a href="#" class="btn btn-warning btn-circle btn-lg">
			    <i class="fas fa-exclamation-triangle"></i>
			</a>
			<a href="#" class="btn btn-danger btn-circle btn-lg">
			    <i class="fas fa-trash"></i>
			</a>
		    </div>
		</div>

		<!-- Brand Buttons -->
		<div class="card mb-4">
		    <div class="card-header py-3">
			<h6 class="m-0">Brand Buttons</h6>
		    </div>
		    <div class="card-body">
			<p>Google and Facebook buttons are available featuring each company's respective brand color. They are used on the user login and registration pages.</p>
			<p>You can create more custom buttons by adding a new color variable in the <code>_variables.scss</code> file and then using the Bootstrap button variant mixin to create a new style, as demonstrated in the <code>_buttons.scss</code> file.</p>
			<a href="#" class="btn btn-google btn-block"><i class="fab fa-google fa-fw"></i> .btn-google</a>
			<a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f fa-fw"></i> .btn-facebook</a>

		    </div>
		</div>

            </div>



	</div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


<%= _.template(require('./../includes/footer.html').default)(data) %>