<% var data = {
title: "ClickFunnels Clients Management | Somnowell",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<!-- Main Content -->
<div id="content">

    <!-- Topbar -->
    <%= _.template(require('./../includes/topbar.html').default)(data) %>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h2 mb-4">ClickFunnels Clients Management</h1>

	<!-- DataTales Example -->
	<div class="card card-primary mb-4">
            <div class="card-header py-3">
		<h2 class="h3 m-0">All Clients</h2>
            </div>
            <div class="card-body">
		<h2 class="h3 mb-2">List of All Clients
		    <a href="#" class="btn btn-warning btn-icon-split">
			<span class="text pl-4">ADD NEW CLIENT</span>
			<span class="icon">
			    <i class="fas fa-user-plus"></i>
			</span>
		    </a>
		</h2>
		<table class="table table-striped table-dataTable" id="dataTable" width="100%" cellspacing="0">
		    <thead class="thead-dark">
			<tr>
			    <th>Client Name</th>
			    <th class="no-sort">Email Address</th>
			    <th class="no-sort">Status</th>
			    <th class="no-sort" style="width: 140px">Actions</th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
			<tr>
			    <td>Alan Smithson</td>
			    <td>alan_smithson@hotmail.co.uk</td>
			    <td><span class="badge badge-warning mw-87">DISABLE</span></td>
			    <td><button type="button" class="btn btn-secondary btn-sm">Edit</button><button type="button" class="btn btn-warning btn-sm">Delete</button></td>
			</tr>
		    </tbody>
		</table>
		<div class="text-center mt-2"> <a href="#" class="btn btn-warning btn-icon-split">
			<span class="text pl-4">ADD NEW CLIENT</span>
			<span class="icon">
			    <i class="fas fa-user-plus"></i>
			</span>
		    </a></div>
            </div>
	</div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<%= _.template(require('./../includes/footer.html').default)(data) %>