<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="shortcut icon" href="./assets/favicon/favicon.ico" />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/style.bundle.css?version=0.1" />
	<title>Login | Somnowell</title>
    </head>
    <body>
	<div class="login-page">
	    <div class="card">
		<div class="card-header py-4">
                    <img src="./assets/img/login-logo.png" class="img-fluid" alt="Somnowell">
		</div>
		<div class="card-body bg-primary">
		    <h2 class="h2">Patient Lead Manager</h2>
		    <form class="user">
			<div class="form-group mb-4">
			    <input type="email" class="form-control" placeholder="Username">
			</div>
			<div class="form-group mb-4">
			    <input type="password" class="form-control" placeholder="Password">
			</div>
			<div class="code-block text-center mb-4">
			    <img src="./assets/uploads/code-block.png" alt="">
			</div>
			<div class="form-group mb-4">
			    <input type="text" class="form-control" placeholder="Security Code">
			</div>
			<div class="form-group mb-4">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="customCheck">
				<label class="custom-control-label" for="customCheck">Remember Me</label>
			    </div>
			</div>
			<button class="btn btn-warning btn-block">SIGN IN</button>
			<div class="text-center mt-4"><a href="./forgot-password.html">Forgot Password?</a></div>
		    </form>
		</div>
	    </div>
	</div>
	<script src="./assets/js/bundle.js"></script>
    </body>
</html>
