<% var data = {
title: "Unbounce Email Templates | Somnowell",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<!-- Main Content -->
<div id="content">

    <!-- Topbar -->
    <%= _.template(require('./../includes/topbar.html').default)(data) %>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h2 mb-4">Unbounce Email Templates</h1>

	<div class="card card-primary mb-4">
            <div class="card-header py-3">
		<h2 class="h3 m-0">Abhishek Kabra</h2>
            </div>
            <div class="card-body">
		<div class="label-w-icon mb-3">
		    <span class="icon-circle"><i class="fas fa-envelope"></i></span>
		    <span>info@candfdltd.co.uk</span>
		</div>
		<hr>
		<div class="row align-items-center justify-content-md-between">
		    <div class="col-12 col-md-auto mb-3">
			<h3>Templates</h3>
		    </div>
		    <div class="col-12 col-md-auto mb-3">
			<a href="#" class="btn btn-sm btn-warning mw-87">PREVIEW</a>
		    </div>
		</div>
		<div id="templates" class="mb-4">
		    <div class="templates-list row">
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template current">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
			    <div class="template">
				<span class="icon-circle"><i class="fas fa-arrow-right"></i></span>
				<span class="name">ANTI SNORING - FACEBOOK</span>
				<a href="#" class="btn btn-sm btn-dark">Edit</a>
			    </div>
			</div>
		    </div>
		</div>
		<div class="template-preview">
		    <div class="row heading">
			<div class="col-auto mb-3">
			    <h3 class="name">Botox</h3>
			</div>
			<div class="col-auto mb-3">
			    <a href="#" class="btn btn-sm btn-dark mw-87">EDIT</a>
			</div>
		    </div>
		    <form class="form-edit">
			<div class="appointment-request p-4">
			    <h3 class="mb-3">Appointment Request</h3>
			    <div class="row mb-3">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <svg width="14px"><use xlink:href="./assets/img/sprite.svg#email-subject"></use></svg>
					</span>
					<strong>Subject :</strong>
				    </label>
				</div>
				<div class="col col-control">
				</div>
			    </div>
			    <div class="row">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <i class="fas fa-envelope"></i>
					</span>
					<strong>Email Template :</strong>
				    </label>
				</div>
				<div class="col col-control">
				</div>
			    </div>
			</div>
		    </form>
		    <form class="form-edit">
			<div class="p-4">
			    <h3 class="mb-3">More Information</h3>
			    <div class="row mb-3">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <svg width="14px"><use xlink:href="./assets/img/sprite.svg#email-subject"></use></svg>
					</span>
					<strong>Subject :</strong>
				    </label>
				</div>
				<div class="col col-control pt-3">
				    <strong>Your Requested Information</strong>
				</div>
			    </div>
			    <div class="row">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <i class="fas fa-envelope"></i>
					</span>
					<strong>Email Template :</strong>
				    </label>
				</div>
				<div class="col col-control pt-3">
				    <p>Hello,<br>
					<br>
					We are from Andover Smile Centre. As requested, here is more information about how we can provide you with wrinkle reduction.<br>
					<br>
					Everyone has different needs when it comes to skin care, which is why we customise our recommendations to each patient’s unique circumstances. Whatever you need, we’ll find the simplest, safest, most effective way to help you.<br>
					<br>
					Use the telephone number below to schedule a no-obligation consultation today.<br>
					<br>
					Please call 0126 432 3033<br>
					<br>
					We see people from all walks of life in our practice, and they come in with a wide range of needs. We can help you get the look you want.<br>
					<br>
					Here are just a few benefits that wrinkle reduction treatment offers:</p>
				    <ul>
					<li>Effects are noticeable within days of receiving a wrinkle reduction injection.</li>
					<li>Injections are quick and easy, and you’ll only need to visit every few months to keep skin smooth.</li>
					<li>Injections target the muscles in the skin, reducing muscular activity which may temporarily reduce wrinkles.</li>
				    </ul>
				    <p>We use the latest skincare technology and the most innovative practices. Our practice meets the highest quality standards, and our team has many years experience in helping reduce wrinkles and facial lines.<br>
					<br>
					What sets our practice apart from the rest?</p>
				    <ul>
					<li>High-end multispecialty private dental practice</li>
					<li>Two locations in Andover</li>
					<li>Personal attention in a comfortable and relaxed setting</li>
					<li>Experienced hygienists</li>
					<li>4 dentists with over 15 - 20 years experience; 3 dentists with 5-6 years</li>
					<li>Special interests in orthodontics, root canal treatment, and implants</li>
					<li>Special certification in dental phobia (inhaled and IV sedation)</li>
					<li>Full range of teeth-straightening options: Damon braces, lingual braces, 6 Month Smiles cosmetic braces and clear aligners</li>
				    </ul>
				    <p>You’ll want to know this, too. Our discounts and financing have changed -- giving you even greater savings to keep you and your family’s teeth healthy and beautiful. You’ll appreciate these savings:</p>
				    <ul>
					<li>0% interest financing and payment plans.</li>
					<li>Laser teeth whitening 2-hour session with trays and gels £399 (regularly £550)</li>
					<li>Laser teeth whitening 1-hour session with trays and gels £349 (regularly&nbsp; £450)</li>
				    </ul>
				    <p>If you have any questions, we’re here to answer them. Give our practice a call and book your no-obligation consultation today. You can also use the telephone number below. <br>
					<br>
					Or just reply to this email if you have any questions or want to book an appointment. <br>
					&nbsp;<br>
					Please call 0126 432 3033<br>
					<br>
					Learn more by visiting our website at <a href="http://www.andoversmilecentre.co.uk/">http://www.andoversmilecentre.co.uk/</a><br>
					<br>
					We look forward to hearing from you.<br>
					<br>
					Best regards,<br>
					Andover Smile Centre<br>
					31 Junction Road<br>
					Andover<br>
					Hampshire<br>
					SP10 3QU<br>
					<br>
					P.S. Most people don’t realise how quickly botox can improve their appearance.<br>
					<br>
					The sooner you come to see us, the sooner you can get the look you want. Book an appointment today.<br>
					<br>
					Please call 0126 432 3033</p>   
				</div>
			    </div>
			</div>
		    </form>
		</div>
		<div class="template-preview">
		    <div class="row heading">
			<div class="col-auto mb-3">
			    <h3 class="name">Selected Template: Botox</h3>
			</div>
		    </div>
		    <form class="form-edit">
			<div class="appointment-request p-4">
			    <h3 class="mb-3">Appointment Request</h3>
			    <div class="row mb-3">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <svg width="14px"><use xlink:href="./assets/img/sprite.svg#email-subject"></use></svg>
					</span>
					<strong>Subject :</strong>
				    </label>
				</div>
				<div class="col col-control">
				    <input class="form-control" name="app_req_subj_27408" type="text" id="app_req_subj_27408" value="">
				</div>
			    </div>
			    <div class="row mb-3">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <i class="fas fa-ellipsis-h"></i>
					</span>
					<strong>Merge Insert Menu: <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Place cursor in editor and click on any one of these links to insert in editor. This text of template will be replaced with client data when it will be delivered to patients."></i></strong>
				    </label>
				</div>
				<div class="col-12 col-control">
				    <ul class="nav merge-menu">
					<li>
					    <a href="javascript:insertMerge('PatientName');">Patient Name</a>
					</li>
					<li>
					    <a href="javascript:insertMerge('PractName');">Client Name</a>
					</li>
					<li>
					    <a href="javascript:insertMerge('PractDetail');">Client Detail</a>
					</li>
				    </ul>
				</div>
			    </div>
			    <div class="row">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <i class="fas fa-envelope"></i>
					</span>
					<strong>Email Template :</strong>
				    </label>
				</div>
				<div class="col col-control">
				    <textarea class="tinymce" id="patient_email" name="patient_email"></textarea>
				    <p class="fsz-13 mt-3"><strong>Tips:</strong> Press SHIFT+ENTER for new line and ENTER for new paragraph, Right click for context menu.</p>
				</div>
			    </div>
			</div>
		    </form>
		    <form class="form-edit">
			<div class="p-4">
			    <h3 class="mb-3">More Information</h3>
			     <div class="row mb-3">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <svg width="14px"><use xlink:href="./assets/img/sprite.svg#email-subject"></use></svg>
					</span>
					<strong>Subject :</strong>
				    </label>
				</div>
				<div class="col col-control">
				    <input class="form-control" name="app_req_subj_27408" type="text" id="app_req_subj_27408" value="">
				</div>
			    </div>
			    <div class="row mb-3">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <i class="fas fa-ellipsis-h"></i>
					</span>
					<strong>Merge Insert Menu: <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Place cursor in editor and click on any one of these links to insert in editor. This text of template will be replaced with client data when it will be delivered to patients."></i></strong>
				    </label>
				</div>
				<div class="col-12 col-control">
				    <ul class="nav merge-menu">
					<li>
					    <a href="javascript:insertMerge('PatientName');">Patient Name</a>
					</li>
					<li>
					    <a href="javascript:insertMerge('PractName');">Client Name</a>
					</li>
					<li>
					    <a href="javascript:insertMerge('PractDetail');">Client Detail</a>
					</li>
				    </ul>
				</div>
			    </div>
			    <div class="row">
				<div class="col-12 col-label">
				    <label class="label-w-icon">
					<span class="icon-circle">
					    <i class="fas fa-envelope"></i>
					</span>
					<strong>Email Template :</strong>
				    </label>
				</div>
				<div class="col col-control">
				    <textarea class="tinymce" id="patient_email" name="patient_email"></textarea>
				    <p class="fsz-13 mt-3"><strong>Tips:</strong> Press SHIFT+ENTER for new line and ENTER for new paragraph, Right click for context menu.</p>
				</div>
			    </div>
			</div>
		    </form>
		</div>
            </div>
	</div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<%= _.template(require('./../includes/footer.html').default)(data) %>